html {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}
img {
	max-width: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
nav, .main, .related, .ads, footer {
	border: 1px solid black;
	padding: 10px;
}
@media (min-width: 500px) {
	.container {
		display: flex;
	}
	.main {
		order: 2;
		flex-grow: 2;
	}
	.related {
		order: 1;
		flex-grow: 1;
	}
	.ads {
		order: 3;
		flex-grow: 1;
	}
}
