html {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}
img {
	max-width: 100%;
}
*,*:before,*:after {
	box-sizing: inherit;
}
.container {

	margin: 30px;
}
.container > * {
	border: 2px solid green;
	background-color: #ffec99;
	padding: 10px;
}
/* creating grid layout */
.container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
	"header"
	"content"
	"related"
	"ads"
	"footer";
}
.main-header {
	grid-area: header;
}
.main-content {
	grid-area: content;
}
.related-links {
	grid-area: related;
}
.ads {
	grid-area: ads;
}
.main-footer {
	grid-area: footer;
}
